@import "tailwindcss";

@theme {
  --color-primary: #dbfb1e;
  --color-secondary: #203f30;
  --font-sans: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

@layer base {
  body {
    @apply bg-white font-sans;
  }
  button {
    @apply cursor-pointer;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
